@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
.fasthand-regular {
  font-family: 'Fasthand', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
}
.crimson-text-regular {
  font-family: 'Crimson Text', serif;
  font-weight: 300 ;
  font-style: normal;
  font-size: 2rem;
}

.crimson-text-semibold {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  font-style: italic;
}
